bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/Mathster/v16
/.vs/Mathster/DesignTimeBuild
/.idea/.idea.Mathster/.idea/.gitignore
/.idea/.idea.Mathster/.idea/libraries/appcompat_v7_28_0_0_3.xml
/.idea/.idea.Mathster/.idea/libraries/cardview_v7_28_0_0_3.xml
/.idea/.idea.Mathster/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.Mathster/.idea/libraries/design_28_0_0_3.xml
/.idea/.idea.Mathster/.idea/discord.xml
/.idea/.idea.Mathster/.idea/encodings.xml
/.idea/.idea.Mathster/.idea/indexLayout.xml
/Sterform/MainPage.xaml
/Sterform/MainPage.xaml.cs
/.idea/.idea.Mathster/.idea/Mathster.Android.iml
/.idea/.idea.Mathster/Mathster.Android.iml
/Mathster/Mathster/Mathster.csproj.DotSettings.user
/.idea/.idea.Mathster/.idea/libraries/mediarouter_v7_28_0_0_3.xml
/.idea/.idea.Mathster/.idea/misc.xml
/Sterform/Sterform.csproj
/.idea/.idea.Mathster/.idea/libraries/support_v4_28_0_0_3.xml
/.idea/.idea.Mathster/.idea/vcs.xml
