bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/Mathster/v16
/.vs/Mathster/DesignTimeBuild
/.idea/.idea.Mathster/.idea/.gitignore
/.idea/.idea.Mathster/.idea/libraries/appcompat_v7_28_0_0_3.xml
/.idea/.idea.Mathster/.idea/libraries/cardview_v7_28_0_0_3.xml
/.idea/.idea.Mathster/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.Mathster/.idea/libraries/design_28_0_0_3.xml
/.idea/.idea.Mathster/.idea/discord.xml
/.idea/.idea.Mathster/.idea/encodings.xml
/.idea/.idea.Mathster/.idea/indexLayout.xml
/.idea/.idea.Mathster/.idea/Mathster.Android.iml
/.idea/.idea.Mathster/Mathster.Android.iml
/Mathster/Mathster/Mathster.csproj.DotSettings.user
/.idea/.idea.Mathster/.idea/libraries/mediarouter_v7_28_0_0_3.xml
/.idea/.idea.Mathster/.idea/misc.xml
/.idea/.idea.Mathster/.idea/libraries/support_v4_28_0_0_3.xml
/.idea/.idea.Mathster/.idea/vcs.xml
/.idea/.idea.Mathster/.idea/.name
/.idea/.idea.Mathster/.idea/rGraphicsSettings.xml
/.idea/.idea.Mathster/.idea/rSettings.xml
/Mathster.sln.DotSettings.user
/Mathster.sln.DotSettings
/.idea/.idea.Mathster.dir/.idea/.gitignore
/.idea/.idea.Mathster/.idea/csv-plugin.xml
/.idea/.idea.Mathster.dir/.idea/encodings.xml
/.idea/.idea.Mathster.dir/.idea/indexLayout.xml
/.idea/.idea.Mathster.dir/.idea/misc.xml
/.idea/.idea.Mathster.dir/.idea/vcs.xml
