/* color = TextColor */
.ExerciseLabel {
    font-size: 30;
    text-align: center;
    width: 130;
    background-color: #7F7FFD;
    color: black;
}

.ResultInput {
    font-size: 30;
    text-align: center;
    width: 130;
    background-color: #FCA54D;
    color: black;
}

.BlackText {
    font-size: 30;
    width: 130;
    color: black;
}

.Button {
    font-size: 30;
    background-color: #4D4DFC;
    color: white;
}

.LevelButtonMenu {
    font-size: 45;
    background-color: #7F7FFD;
    color: white;
}

.MenuButton {
    font-size: 40;
    background-color: #4D4DFC;
    color: white;
}

.RestartButton {
    font-size: 30;
    background-color: white;
    border-color: firebrick;
    color: firebrick;
}

.FrameDarkPurple {
    border-color: #4D4DFC;
    background-color: #4D4DFC;
    color: white;
}

.ExerciseSettingsLabel {
    font-size: 30;
    color: #4D4DFC;
}

.ExerciseSettingsFrame {
    border-radius: 30;
    color: white;
    margin: 5;
    width: 50;
}

.ExerciseSettingsNameLabel {
    font-size: 25;
    color: #ffffff;
    margin: 10;
}

.TitleGreenLabel {
    color: #C9FF50;
    font-size: 25;
}

.TitlePurpleLabel {
    color: #4D4DFC;
    font-size: 30;
}