/* color = TextColor */
.PrikladLabel {
    font-size: 30;
    text-align: center;
    width: 130;
    background-color: #7F7FFD;
    color: black;
}

.VysledekInput {
    font-size: 30;
    text-align: center;
    width: 130;
    background-color: #FCA54D;
    color: black;
}

.TextBezPozadi {
    font-size: 30;
    width: 130;
    color: black;
}

.Tlacitka {
    font-size: 30;
    background-color: #4D4DFC;
    color: white;
}

.LevelButtonMenu {
    font-size: 45;
    background-color: #7F7FFD;
    color: white;
}

.MenuTlacitka {
    font-size: 40;
    background-color: #4D4DFC;
    color: white;
}

.RestartButton {
    font-size: 30;
    background-color: white;
    border-color: firebrick;
    color: firebrick;
}

.FrameTmaveFialova {
    border-color: #4D4DFC;
    background-color: #4D4DFC;
    color: white;
}

.NastaveniPrikladuLabel {
    font-size: 30;
    color: #4D4DFC;
}

.NastaveniPrikladuFrame {
    border-radius: 30;
    color: white;
    margin: 5;
    width: 50;
}

.NastaveniPrikladuNazevLabel {
    font-size: 25;
    color: #ffffff;
    margin: 10;
}

.ZelenyNadpidLabel {
    color: #C9FF50;
    font-size: 25;
}

.FialovaNadpidLabel {
    color: #4D4DFC;
    font-size: 30;
}