/* color = TextColor */
.PrikladLabel
{
    font-size: 30;
    text-align: center;
    width: 130;
    background-color: #89e771;
    color: black;
}
.InfoLabel
{
    font-size: 20;
    text-align: center;
    width: 130;
    background-color: #6ece25;
    color: black;
}

.SpatneNadLabel
{
    font-size: 15;
    text-align: center;
    background-color: #f36f16;
    color: black;
}

.SpatneLabel
{
    font-size: 30;
    text-align: center;
    background-color: #ffb54c;
}

.VysledekInput
{
    font-size: 30;
    text-align: center;
    width: 130;
    background-color: #ffce85;
    color: black;
}

.TextBezPozadi
{
    font-size: 30;
    width: 130;
    color: black;  
}

.Zelena
{
    font-size: 15;
    text-align: center;
    background-color: #33a716;
    color: black;
}
 /* dole plochá ↑ */
.ZelenaNadpis
{
    font-size: 30;
    text-align: center;
    width: 130;
    background-color: #33a716;
    color: black;
}

.CervenaNadpis
{
    font-size: 30;
    text-align: center;
    width: 130;
    background-color: #bf3600;
    color: white;
}

.ZelenaTlacitka
{
    font-size: 30;
    background-color: #33a716;
    color: white;
}
.RestartButton
{
    font-size: 30;
    background-color: white;
    border-color: firebrick;
    color: firebrick;
}
.FrameInformaceOranzova
{
    border-color: #f36f16;
    background-color: #ffce85;
}
/*#ead78e*/
.FrameInformaceZelena
{
    border-color: #f36f16;
    background-color: #89e771;
}
.MiniMenu
{
    font-size: 30;
    -moz-outline-radius-bottomright: 30;
    -moz-outline-radius-topright: 30;
}