<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="Closed Beta - 1.3" package="com.Softllussion.Mathster" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="29" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<!--    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />-->
	<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
	<application android:label="Mathster" android:supportsRtl="true" android:icon="@drawable/icon" />
</manifest>